.claude
.pytest_cache
.qodo
*.egg-info
*.pyc
__pycache__/*
.idea
__pycache__
*.log
*.bak
*.tmp
*.swp
.DS_Store
.vscode
*.iml
blog_scraper/extractors/__pycache__/*
*pyc
blog_scraper/__pycache__/__init__.cpython-313.pyc
